.page {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  border-left: .125rem dotted var(--c-black-1);
  border-right: .125rem dotted var(--c-black-1);
}

.vh100 {
  min-height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.systemFont {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.c-braun-green {
  color: var(--c-braun-green);
}

.c-braun-red {
  color: var(--c-braun-red);
}

.c-braun-orange {
  color: var(--c-braun-orange);
}

.c-braun-yellow {
  color: var(--c-braun-yellow);
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.upperCase {
  text-transform: uppercase;
}

.lowerCase {
  text-transform: lowercase;
}

.o70 {
  opacity: 70%;
}

.o90, .faded {
  opacity: 90%;
}

.p05 {
  padding: calc(0.5 * var(--unit));
}

.p1 {
  padding: var(--unit);
}

.pv1 {
  padding-top: var(--unit);
  padding-bottom: var(--unit);
}

.p2 {
  padding: calc(2 * var(--unit));
}

.m05 {
  padding: calc(0.5 * var(--unit));
}

.m1 {
  padding: var(--unit);
}

.m2 {
  padding: calc(2 * var(--unit));
}

.g1 {
  gap: var(--unit);
}

.noListStyle {
  list-style-type: none;
}

.grid {
  display: grid;
}

.col3 {
  grid-template-columns: repeat(auto-fit, minmax(calc(3 * var(--unit)), calc(20 * var(--unit))));
}

.card {
  padding: var(--unit);
  background: var(--c-white);
  border: 1px solid var(--c-black-1);
  border-radius: calc(.5 * var(--unit));
  min-height: 25vh;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--unit);
}

.rounded {
  border-radius: calc(.5 * var(--unit));
}

.larger {
  font-size: 1.25em;
}

.smaller {
  font-size: .875em;
}

.semibold {
  font-weight: 600;
}

.hoverGlow:hover, .hoverGlow:focus {
  background: var(--c-white-3);
}

.image {
  max-width: 100%;
  height: auto;
}